global
daemon
maxconn 256
log stdout format raw local0

defaults
mode http
timeout connect 5000ms
timeout client 50000ms
timeout server 50000ms
log global

frontend http_front
bind *:9000
default_backend http_back

backend http_back
balance roundrobin
server server1 backend1:80 check
server server2 backend2:80 check
