user www-data;
worker_processes {{ ansible_processor_vcpus }};

http {
    {% if enable_gzip %}

    gzip on;

    {% endif %}

    server {
        listen {{ nginx_port }};
        server_name {{ server_name }};
        root {{ nginx_root }};

        location / {
            try_files $uri $uri/ =404;
        }
    }
}
