<!DOCTYPE html>
<html>
<head><title>{{ ansible_hostname }}</title></head>
<body>
<h1>{{ ansible_hostname }}</h1>
<p>Port: {{ webserver_port }}</p>
<p>Deployed: {{ ansible_date_time.iso8601 }}</p>
</body>
</html>
